<h1>Movies</h1>
<div class="movies-links-container">
  <%= link_to "Add new", new_movie_path, class: "movies-link" %>
  <%= link_to "Import Movies", new_import_movies_path, class: "movies-link" %>
  <%= link_to "Add scores", submit_scores_movies_path, class: "movies-link" %>
</div>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<div id="moviesGrid"></div>

<script>
  $(document).ready(function () {
    $("#moviesGrid").kendoGrid({
      dataSource: {
        transport: {
          read: {
            url: "/movies",
            dataType: "json"
          }
        },
        schema: {
          model: {
            fields: {
              title: { type: "string" },
              director: { type: "string" },
              average_score: { type: "number" }
            }
          }
        }
      },
      columns: [
        { field: "title", title: "Title" },
        { field: "director", title: "Director" },
        { field: "average_score", title: "Average Score" },
      ],
      editable: false,
      pageable: {
          pageSize: 5 
      },
   sortable: true
    });
  });
</script>